API_ID=28480539
API_HASH=6320d9f1bc1f0b72ad66ebdb9d6bfc2c
BOT_TOKEN=8707878847:AAGLn5_bdon01k7xVrMuiyq563nzJJHqq8w
LOGGER_ID=-1003691379609
MONGO_DB_URI=
OWNER_ID=7572263943
STRING_SESSION=AQIhKfQAOubvJLe9EHzeEnBMLSR2yz1g6zpho7GFIS3bVrzSIy6UE2wYm6XZRPSfq-x06jOnnChj5qmhFhWuB0CXc5HjmtpSqtOQ8NoMfTPt40fRkGWGNE0NgAsHog0FRil0dep-1OiXrX7YTxooMfIsU8MUbn4neZj9gyU3y3ax52_wpFaf1L4z-sTGaRgu4x_-qtTIuBClRkzMUf_3TH9chiOFVWr7q_stXUiem3OoX1h673D94UeHTIpmzlujLwn7q_k3thYrVxMn9RQeJ321YKyiixwAlYSsR-UQKyZDKKVGMOa2hZI5LhuBRXp1twr2vUpXqNUfbjtTEXZwZFtJurUIVwAAAAIB5I2MAA
